{% extends 'CoreCoreBundle::layout.html.twig' %}

{% block body %}


    <div id="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div id="event-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">

                                    <div class="description-text" id="countdown-wrapper">

                                        <div id="countdown-container">
                                            ONLY 121 DAYS, 7 HOURS, 11 MINUTES, AND 53 SECONDS LEFT
                                        </div>

                                        <div id="countdown-label">AWAKENING 2015</div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    {% block footer %}

    {% endblock %}



{% endblock %}
